<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Pernambucana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--      <link rel="stylesheet" type="text/css" href="styles.css">  -->
</head>
<body>
    <section class="container">
        <section class="pokedex">
            <div class="terrainPokemon"> 
                 <div class="gifPokemon" style="background-image: url(./static/img/POKEPE.png);"></div>
            </div>
            <div class="buttonAndInfo">
                <div class="buttonDirectional">
                    <!-- <label for="id"></label> -->
                    <!-- <input type="text" name="id" id="id"> -->
                    <form action="{{url_for('passInfo')}}" method="post"><button class="arrowUp" onclick="{[url_for('/<passInfo>')]}"></button></form>
                    <form action="{{url_for('decrease')}}" method="post"><button class="arrowLeft" onclick="{[url_for('/<decrease>')]}"></button></form>
                    <form action="{{url_for('passInfo')}}" method="post"><button class="arrowDown" onclick="{[url_for('/<passInfo>')]}"></button></form>
                    <form action="{{url_for('increment')}}" method="post"><button class="arrowRight" onclick="{[url_for('/<increment>')]}"></button></form>
                </div>
                <div class="infoPokemon" style="visibility: {{info_1}};">
                    <div class="container-nome">
                        <p><font size="4">Poke PE</font></p>
                    </div>
                    <div class="introduction">
                        <p>Poke PE é uma criação com o intuito de mostrar alguns
                            Pokemons que viveriam na região de Pernambuco.
                        </p>
                        <h4 ><br/>Devs</h4 >
                        <p>
                            Guilherme Domingos
                            <br/>Luiz Henrique Sousa
                        </p>
                        <h4 ><br/>Arte</h4 >
                        <p>
                            Guilherme Domingos
                            <br/>Petrus Machado
                        </p>
                    </div>
                    <div class="container-search">
                        <form action="{{url_for('searchPokemons')}}" method="post">
                            <input id="search" style="visibility: {{search_1}};" type="text" name="searchPokemon">
                        </form>
                    </div>
                </div>
                <div class="buttonAB">
                    <form action="{{url_for('search')}}" method="post"><button class="buttonA" onclick="{[url_for('/<search>')]}"></button></form>
                    <form action="{{url_for('home')}}" method="get"><button class="buttonB" onclick="{[url_for('/<>')]}"></button></form>
                </div>
            </div>
        </section>
    </section>
</body>
</html>
