<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Pernambucana</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<!--    <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
    <div class="container">
        <div class="pokedex">
            <div class="terrainPokemon"> 
                 <div class="gifPokemon" style="background-image: url(./static/img/gifPokemons/{{id}}.gif);"></div>
            </div>
            <div class="buttonAndInfo">
                <div class="buttonDirectional">
                    <!-- <label for="id"></label> -->
                    <!-- <input type="text" name="id" id="id"> -->
                    <form action="{{url_for('passInfo')}}" method="post"><button class="arrowUp" onclick="{[url_for('/<passInfo>')]}"></button></form>
                    <form action="{{url_for('decrease')}}" method="post"><button class="arrowLeft" onclick="{[url_for('/<decrease>')]}"></button></form>
                    <form action="{{url_for('passInfo')}}" method="post"><button class="arrowDown" onclick="{[url_for('/<passInfo>')]}"></button></form>
                    <form action="{{url_for('increment')}}" method="post"><button class="arrowRight" onclick="{[url_for('/<increment>')]}"></button></form>
                </div>
                <div class="infoPokemon" style="visibility: {{info_1}};">
                    <p id="nome">{{nome}}</p>
                    <p>Tipo: {{tipo}}</p>
                    <p>Categoria: {{categoria}}</p>
                    <p>Habilidades: {{habilidade}}</p>
                    <p>Peso: {{peso}}</p>
                    <p>Altura: {{altura}}</p>
                    <p>Fraquezas: {{fraqueza}}</p>
                    <p id="descricao" style="visibility: {{info_2}};">Informações: {{descricao}}</p>
                </div>
                <div class="buttonAB">
                    <div class="buttonA"></div>
                    <div class="buttonB"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>