<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Pernambucana</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<!--    <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
    <div class="container">
        <div class="pokedex">
            <div class="terrainPokemon"> 
                 <div class="gifPokemon"></div>    
            </div>
            <div class="buttonAndInfo">
                <form class="buttonDirectional" method="post" action="{[url_for('infoPokemons')]}">
                    <!-- <label for="id"></label> -->
                    <!-- <input type="text" name="id" id="id"> -->
                    <div class="arrowUp"></div>
                    <input class="arrowLeft" type="submit" name="changePokemon" value="decrement">
                    <div class="arrowDown"></div>
                    <input class="arrowRight" type="submit" name="changePokemon" value="increment">
                </form>
                <div class="infoPokemon">
                    <p>{{nome}}</p>
                    <p>{{tipo}}</p>
                    <p>{{categoria}}</p>
                    <p>{{habilidade}}</p>
                    <p>{{peso}}</p>
                    <p>{{altura}}</p>
                    <p>{{fraqueza}}</p>
                    <p>{{descricao}}</p>
                </div>
                <div class="buttonAB">
                    <div class="buttonA"></div>
                    <div class="buttonB"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>