<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pokedex Pernambucana</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<!--    <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
    <div class="container">
        <div class="pokedex">
            <div class="terrainPokemon"> 
                 <div class="gifPokemon"></div>    
            </div>
            <div class="infoPokemon">
                <nav>
                    <p href="/index">Aqui tem que aparecer as info</p>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>