@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.pokedex{
    height: 58.9rem;
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
    background-image: url(./img/pokedex.png);
    background-repeat: no-repeat;
    background-size: 49rem 59rem;
    background-position: center;

}
.terrainPokemon{
    height: 23.6rem;
    width: 30.5rem;
    margin-left: 10.2rem;
    border-radius: 1rem;
    background-image: url(./img/fundopkmn.jpg);
    background-repeat: no-repeat;
    background-size: 32rem 32rem;
    background-position: bottom;
}

.gifPokemon{
    height: 23.4rem;
    width: 30.4rem;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: 40rem ;
    background-position: 55% 45%;

}
.buttonAndInfo{
    display: flex;
    align-items: center;
    height: 22.7rem;
    width: 46.4rem;
    border-radius: 2rem;
    margin-top: 0.3rem;
}
.buttonDirectional{
    width: 7.8rem;
    height: 8.2rem;
    margin-left: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}
.arrowUp{
    width: 2.4rem;
    height: 3.9rem;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 48% 100%, 0 50%);
    cursor: pointer;
    position: relative;
    left: 2.6rem;
}
.arrowRight{
    width: 3.7rem;
    height: 2.6rem;
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);
    cursor: pointer;
    position: relative;
    bottom: 1.1rem;
}
.arrowDown{
    width: 2.4rem;
    height: 3.8rem;
    clip-path: polygon(0 100%, 0 50%, 50% 0, 100% 50%, 100% 100%);
    cursor: pointer;
    position: relative;
    right: 1.3rem;
    top: 4.3rem;
}
.arrowLeft{
    width: 3.7rem;
    height: 2.6rem;
    clip-path: polygon(0 0, 50% 0, 100% 45%, 50% 100%, 0% 100%);
    cursor: pointer;
    position: relative;
    bottom: 1.1rem;
}
.infoPokemon{
    height: 22.5rem;
    width: 30.5rem;
    margin-left: 1.6rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    line-height: 1.5rem;
    row-gap: 0.7rem;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
.container-nome{
    text-align: center;
}
#nome{
    position: relative;
    top: 0.2rem;
    font-size: 1.7rem;
    font-weight: 550;
    letter-spacing: 0rem;
    align-self: center;
}
.container-descricao{
    height: 15rem;
}
#descricao{
    position: fixed;
    bottom: 7rem;
    height: 15rem;
    width: 29.9rem;
}
.container-search{
    text-align: center;
}
#search{
    width: 15rem;
    height: 2rem;
}
.buttonAB{
    width: 1rem;
    height: 11.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.4rem;
    margin-bottom: 1.7rem;
    align-self: flex-end;
}
.buttonA{
    height: 4.5rem;
    width: 100%;
    cursor: pointer;
    background: none;
}
.buttonB{
    height: 4.5rem;
    width: 100%;
    cursor: pointer;
    background: none;
}
.introduction{
    height: 15rem;
    text-align: center;
    overflow-y: auto;
}